@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 40, 40, 40;
  --text-rgb: 255, 255, 255;
  --console-green: 51, 255, 0;
  --apple-green: 51, 255, 51;
  --apple-3c: 102, 255, 102;
  --amber: 255, 176, 0;
  --amber-dim: 255, 174, 0, 0.34;
  --red: 251, 0, 0, 0.59
}

/* Add a simple glowing box utility */
@layer utilities {
  :root {
    --amber-dim: 255, 174, 0, 0.34;
  }

  .bg-invisible {
    background-color: rgba(40,40,40,1)
  }

  .background {
    background-color: rgb(var(--background-rgb))
  }

  .noglow {
    box-shadow: 0px 0px 0px 0px;
    background-color: inherit;
  }

  .box-glow {
    box-shadow: 0px 0px 5px 2px rgba(var(--amber));
    background-color: rgb(var(--amber));
  }

  .box-glow-invalid {
    box-shadow: 0px 0px 5px 2px rgba(var(--red));
    background-color: rgb(var(--red));
  }

  /* Class for amber text */
  .text-amber {
    color: rgb(var(--amber));
    background-color: rgb(var(--background-rgb));
  }

  .text-white{
    color: white;
  }

  /* Class for amber text but dimmer */
  .text-amber-dim {
    color: rgba(var(--amber-dim));
  }

  .glow {
    text-shadow: 0 0 20px;
  }
  

}

/* Set background and foreground color*/
body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--text-rgb));
}

/* Class for green text */
.text-console-green {
  color: rgb(var(--console-green));
  background-color: rgb(var(--background-rgb));
}

/* Class that applies a simple CRT overlay */
.crt {
  content: "";
}

.crt::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 50;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/* Simple text "glow" class*/
.glow {
  text-shadow: 0 0 20px;
}

/* unused */
.box-glow {
  box-shadow: 0px 0px 5px 2px;
}

/* unused */
.media-warn {
  display: none;
}

@media screen and (max-width: 700px) {
  .media-warn {
    display: initial;
  }
}
